*___.*
*.pyc
*.csv
*.xml
*.iml
*.pkl
*.npy
*.pypirc
**/__pycache__/
**/build/
**/dist/
**/meta_data/
**/hyperactive.egg-info/
**/_build/
**/catboost_info/
/hyperactive/memory/meta_data
/docs/plots/search_paths/temp/
